/* Base Styles */
.wp-footer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	width: 100%;
	margin: 0 auto;
	padding:  2em 0;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: rgba( 0, 0, 0, 0 );
}

	.wp-footer .wp-footer__container {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.wp-footer .wp-footer__logo {
		height: 4em;
		width: 4em;
		padding-right: 1em;
		margin: 0 auto;
	}

	.wp-footer .wp-footer__link {
		text-decoration: none;
		border-bottom: 0;
	}

	.wp-footer .wp-footer__text {
		text-align: center;
	}

	.wp-footer .wp-footer__headline {
		font-weight: normal;
		white-space: nowrap;
		margin: 0;
	}

	.wp-footer .wp-footer__body {
		font-style: italic;
		font-weight: normal;
		margin: 0;
	}

	.wp-footer .wp-footer__arrow {
		height: 0.5em;
		width: auto;
		padding: 0 0 0 0.15em;
	}

	.wp-footer .wp-footer__arrow path {
		fill: rgba( 0, 0, 0, 0.25);
	}


/* Hover Styles */
.wp-footer .wp-footer__link:hover {
	text-decoration: none;
	border-bottom: 0;
}

/* Small Screen */
@media screen and ( min-width: 480px ) {
	
	.wp-footer .wp-footer__container {
		flex-direction: row;
	}

	.wp-footer .wp-footer__text {
		text-align: left;
	}

}